<p></p>
<div class="container">

  <div class="row" style="border: 1px solid gray; margin-bottom:10px;">
    <div class="col-lg-12">
      <div class="col-4 col-sm-3 col-md-3" style="float: left;">
        <div class="img_box_200">{{dtSpeaker.speakerPic}}
          <img src="/assets/images/user_icon.jpg" />
        </div>
      </div>

      <h2 style="color: #0067b8;">{{dtSpeaker.firstName}} {{dtSpeaker.lastName}}</h2>

      <div class="track ng-scope">
        {{dtSpeaker.speakerBio}}
      </div>

    </div>
  </div>
</div>