<mat-toolbar color="primary">
  <div class="row">
    <div class="col-2 text-left">
      <a href="" [routerLink]="['/event-dashboard']">
      <h1 class="mr-3"  style="color: white;">Events</h1></a>
    </div>
    <div class="col-2 text-left">
      <a href="" [routerLink]="['/attendees']">
      <h1 class="mr-3"  style="color: white;">Attendees</h1></a>
    </div>
    <div class="col-2 text-left">
        <h1 class="mr-3">Register for a great event!</h1>
    </div>
    <div class="col-3 text-right"  style ="padding-left: 190px;">
     <h1> Welcome {{ attendee.firstName + " " + attendee.lastName }}</h1>
    </div>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>