<div class="container">
  <div class="section-white">
    <div>
      <h1>Events</h1>
      <p><strong> Listed below are Events titles </strong></p>
    </div>
  </div>

  <div class="row" style="border: 1px solid gray; margin-bottom:10px; cursor: pointer;"
    *ngFor="let event of conferenceEvents" [routerLink]="['/sessionspeaker', event.id]">
    <div class="col-lg-12">
      <div class="col-4 col-sm-3 col-md-3" style="float: left;">
        <div class="img_box_200">
          <img src="/assets/images/EventMultipleProducts.jpg" />
        </div>
      </div>

      <h2 style="color: #0067b8;">{{event.eventName}}</h2>
      <p style="font-size: 14px;"> Start Date: {{event.eventStartDate  | date :'d MMM, yyyy h:mm a'}} - End Date:
        {{event.eventEndDate  | date :'d MMM, yyyy h:mm a'}}</p>

      <div class="track ng-scope DEV">
        {{event.eventDescription}}
      </div>

      <p class="Price" style="text-align: left;">Price: {{event.eventPrice}}</p>

    </div>
  </div>
</div>
